<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
    <header th:replace="fragments :: header"></header>
    <nav th:replace="fragments :: navigation"></nav>

    <main>
        <h4 th:replace="fragments :: title">edit.html</h4>
        <form th:action="@{/jobs/edit/{id}(id=${id})}" th:object="${jobListing}" method="POST">
            <div class="form-group">
                <label>Job Title
                    <input type="text" th:name="jobTitle" th:value="*{jobTitle}" />
                </label>
            </div>
            <div class="form-group">
                <label>Company
                    <input type="text" th:name="company" th:value="*{jobListingDetails.company}" />
                </label>
            </div>
            <div class="form-group">
                <label>Job Listing URL
                    <input type="url" th:name="jobListingUrl" th:value="*{jobListingDetails.jobListingUrl}"/>
                </label>
            </div>
            <div class="form-group">
                <label>Job Listing Number
                    <input type="text" th:name="jobListingNumber" th:value="*{jobListingDetails.jobListingNumber}" />
                </label>
            </div>
            <div class="form-group">
                <label>Location
                    <input type="text" th:name="jobLocation" th:value="*{jobListingDetails.jobLocation}" />
                </label>
            </div>
            <div class="form-group">
                <label>Job Type
                    <input type="text" th:name="jobType" th:value="*{jobListingDetails.jobType}" />
                </label>
            </div>
            <div class="form-group">
                <label>Salary
                    <input type="text" th:name="salary" th:value="*{jobListingDetails.jobSalary}"/>
                </label>
            </div>
            <div class="form-group">
                <label>Qualifications
                    <textarea th:name="jobQualifications" th:value="*{jobListingDetails.jobQualifications}" rows="4"
                              cols="50">
                    </textarea>
                </label>
            </div>
            <div class="form-group">
                <label>Description
                    <textarea th:name="jobDescription" th:value="*{jobListingDetails.jobDescription}" rows="4"
                              cols="50">
                    </textarea>
                </label>
            </div>
            <div class="form-group">
                <label>User
                    <input type="text" th:value="${username}" th:name="username" readonly>
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Save Job Edit" class="btn btn-success"/>
            </div>
            <div>
                <button class="btn"><a th:href=@{/dashboard}>Cancel Job Edit</a></button>
            </div>
        </form>
        <form th:action="@{/jobs/{id}(id=${id})}" method="post">
            <input type="submit" value="Delete Job">
        </form>

    </main>
</body>
</html>