<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Job Search Tracker</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <header th:fragment="header">
        <div class="container">
            <div class="header-column-side">
                <p>My Profile</p>
            </div>
            <div class="header-column-main">
                <p>Job Search Tracker</p>
            </div>
            <div class="header-column-side">
                <p>Logout</p>
            </div>

        </div>
        <nav>

        </nav>
    </header>

</body>
</html>