<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<!--<head th:replace="fragments :: head"></head>-->
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Job Search Tracker</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>

<!--<header th:replace="fragments :: header"></header>-->
<nav th:fragment="header">
    <h1>Job Search Tracker</h1>
    <h2 th:text="${title}">Sub-Title</h2>
    <ul class="nav">
        <!--        <li class="nav-item" sec:authorize="isAnonymous()">-->
        <!--            <a class="nav-link" href="/login">Please Login!</a>-->
        <!--        </li>-->
        <li class="nav-item">
            <a class="nav-link" href="/jobs">All Jobs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/jobs/create/2">Create Job</a>
        </li>
    </ul>
</nav>


</body>
</html>
