<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
    <header th:replace="fragments :: header"></header>

    <nav th:replace="fragments :: navigation"></nav>

    <div class="container body-content">
        <br>
        <h4 th:replace="fragments :: title">list.html</h4>

        <table id="listing-table" class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col fs-3">Companies</th>
                    <th scope="col fs-3">Job Types</th>
                    <th scope="col fs-3">Locations</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <li th:each="company : ${companies}" class="p-2">
                            <a th:href="@{/list/jobs/(fieldName='company', value=${company})}"
                               th:text="${company}"
                               style="text-decoration: none;"></a>
                        </li>
                    </td>
                    <td>
                        <li th:each="type : ${jobTypes}" class="p-2">
                            <a th:href="@{/list/jobs/(fieldName='jobType', value=${type})}"
                               th:text="${type}"
                               style="text-decoration: none;"></a>
                        </li>
                    </td>
                    <td>
                        <li th:each="location : ${locations}" class="p-2">
                            <a th:href="@{/list/jobs/(fieldName='location', value=${location})}"
                               th:text="${location}"
                               style="text-decoration: none;"></a>
                        </li>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>